body{
    font-family: 'Google Sans','Noto Sans SC';
    color: #201b12;
}
mdui-card{
    padding: 10px;
    margin: 15px;
    width: 250px;
    min-height: 200px;
    vertical-align: top;
}
.item-icon{
    font-size: 50px;
}
h1, p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main > p{
    padding-left: 20px;
}