body{
    font-family: 'Google Sans','Noto Sans SC';
    color: #201b12;
}



mdui-navigation-bar{
    display: flex;
}
mdui-navigation-rail{
    display: none;
}
@media (min-width: 600px) {
    mdui-navigation-bar{
        display: none;
    }
    mdui-navigation-rail{
        display: flex;
    }
}