body{
    font-family: 'Google Sans','Noto Sans SC';
    color: #201b12;
}
.main-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    text-align: center;
}
.main-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.mouth-picker-parent{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin-right: auto;
    user-select: none;
    align-items: center;
}
.calendar-grid{
    display: grid;
    /*border: 2px solid red;*/
    width: 100vw;
    box-sizing: border-box;
    margin: 15px;
    max-width: 700px;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-auto-rows: 1fr;
}
.cal-items{
    aspect-ratio: 4/3;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.day-past{
    color: rgb(130, 130, 130);
}
.day-today{
    color: orangered;
    font-weight: bold;
}
.day-future{
    color: black;
}
mdui-fab{
    position: fixed;
    bottom: 100px;
    right: 20px;
}
.add-count-dialog mdui-text-field{
    margin-top: 10px;
}
@media screen and (max-width: 540px) {
    .cal-items{
        font-size: 0.75rem;
    }
}

.count-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;

}
.count-grid > * {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counttext{
    user-select: none;
    margin-top: -5px;
    margin-bottom: 0;
}
.counttextp{
    font-size: 25px;
}
.counttexth1{
    font-size: 65px;
}