body{
    font-family: 'Google Sans','Noto Sans SC';
    color: #201b12;
}
.main-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    text-align: center;
}
.main-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.mouth-picker-parent{
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin-right: auto;
    user-select: none;
    align-items: center;
}
